body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featured section article div {
    display: flex;
    justify-content: center;
}

#all-items article {
    display: flex;
    justify-content: center;
    align-items: center;
}

#all-items article:nth-child(even) {
    flex-direction: row-reverse;
}

#all-items article div:last-child {
    flex-basis: 80%;
}


#hero footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#featured section {
    display: flex;
}


@media screen and (max-width: 1024px) {

    #featured section {
        flex-wrap: wrap;
    }

}